<title>Login</title>

<!--div per stampare a video eventuali messaggi di errori-->
{% if error %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="alert alert-dismissible alert-danger text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Errore</strong>
        </div>
    </div>
</div>
{% endif %}

<div class="container" id="main-area" style="margin-top: 25px;">
    <div class="row">
        <div class="col-4" style="margin-left: 9px;">
            <main class="form-signin">
                <form action="{{ ROOT_URL }}public/auth/login-action.php" method="POST">

                    <h1 class="h3 mb-3 fw-normal">Login</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                        <label for="floatingInput">Indirizzo Email</label>
                        <span>
                            <div class="errorLabel">
                                <!--error message-->
                            </div>
                        </span>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Password">
                        <label for="floatingPassword">Password</label>
                        <span class="cart-buttons">
                            <div class="errorLabel">
                                <!--error message-->
                            </div>
                        </span>
                    </div>
                    <br>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Ricordami
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                </form>
                <a href=".\register.php">Registrati</a>
            </main>
        </div>

        <div class="spazio" id="spazio_vuoto" style="margin-top: 80px;">