<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2><strong class="text-primary">Supporto</strong></h2>
    </div>
    <div class="row">
        <div class="col-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#open">Aperti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#close">Chiusi</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="open">
                    <br>
                    {% for ticket in openTicket %}
                    {% set c = redirect ~ ticket.id %}
                    <div class="card" style="cursor:pointer;" onclick="location.href = '{{c}}';">
                        <div class="card-header">
                            {{ticket.object}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ticket.message}}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="close">
                    <br>
                    {% for ticket in closeTicket %}
                    {% set c = redirect ~ ticket.id %}
                    <div class="card" style="cursor:pointer;" onclick="location.href = '{{c}}';">
                        <div class="card-header">
                            {{ticket.object}}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ticket.message}}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>