<title>Checkout</title>
<div class="container" id="main-area" style="margin-top: 25px; ">
    <form method="POST" action="../../shop/checkout-action.php">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-3">
                        <h4><strong>1. Indirizzo di consegna:</strong></h4>
                    </div>
                    <div class="col-9">
                        <form method="POST">
                            <select class="form-select" name="shipmentID" aria-label="Default select example">
                                {% for address in addresses %}
                                {% if address['principal'] == 1 %}
                                <option selected value="{{ address['id_shipment'] }}">
                                    {{ address['address'] ~ " " ~ address['city_name'] ~ " " ~ address['code'] ~ " " ~
                                    address['provinces_name'] }}
                                </option>
                                {% else %}
                                <option value="{{ address['id_shipment'] }}">
                                    {{ address['address'] ~ " " ~ address['city_name'] ~ " " ~ address['code'] ~ " " ~
                                    address['provinces_name'] }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <h4><strong>2. Modalità di pagamento:</strong></h4>
                    </div>
                    <div class="col-9">
                        {% for payment in payments %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                id="{{ payment['id'] }}">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ "************" ~ payment['credit_card_number']|slice(12, 16) }}
                            </label>
                        </div>
                        {% endfor %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                PayPal
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2">
                        <h4><strong>3. Rivedi gli articoli:</strong></h4>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-9">
                        <div class="col-12">
                            <h4><strong class="text-primary">Prodotti:</strong></h4>
                            <br>
                            {% if quantity > 0 %}
                            <ul class="list-group mb-3">
                                {% set sum = 0 %}
                                {% for product in products %}
                                <li class="list-group-item d-flex" style="border:none; margin-left: 0px;">
                                    <div class="col-lg-4 col-6">
                                        <h6 class="my-0 text-primary">
                                            <strong>
                                                {{ product.name }}
                                            </strong>
                                        </h6>
                                    </div>

                                    <div class="col-lg-3 col-6">
                                        {% for img in imgs %}
                                        {% if img['product_id'] == product.id %}
                                        <img src="{{ ROOT_URL ~ img['link'] }}" alt="immagine" width=100px></img>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% for item in items %}
                                    {% if item.product_id == product.id %}
                                    {% set singleProductSum = 0 %}
                                    <div class="col-lg-3 col-6 text-center">
                                        <span class="text-muted">
                                            {{ item.quantity }}
                                        </span>
                                        <input type="hidden" name="productID" value="{{ item.id }}" />
                                    </div>
                                    <div class="col-lg-2 col-6">
                                        <strong class="text-primary">
                                            {% set singleProductSum = singleProductSum + (item.quantity * product.price)
                                            %}
                                            {% set sum = sum + (item.quantity * product.price) %}
                                            {{ singleProductSum|number_format(2) ~ " €"}}
                                        </strong>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-sm p-4">
                                <div class="col-3">
                                    <button name="checkout" type=submit class="btn btn-primary btn-block"
                                        style="width: 100%;">Acquista ora &raquo;</button>
                                </div>
                                <div class="col-3">
                                    <span class="text-primary text-end" style="width: 100%;">
                                        <h4><b>Totale:
                                                {{ sum|number_format(2) ~ " €"}}
                                            </b></h4>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>