<form action="{{ROOT_URL}}shop/search.php" method="POST">
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block  sidebar collapse ">

                <div class="position-sticky pt-3" style="margin-top: 65px;">
                    <ul class="nav flex-column">
                        <fieldset class="form-group">
                            <legend class="mt-4 text-primary">
                                <h4><strong>Filtra per categoria</strong></h4>
                            </legend>
                            {% for row in category %}
                            <li class="nav-item">
                                <div class="form-check">
                                    <input type="hidden" value="{{search}}" id="search" value="search">
                                    <input class="form-check-input" type="checkbox" value="{{row.name}}"
                                        id="selezionato[]" name="selezionato[]" {% if row.name in selected %} checked {%
                                        endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        <h5>{{row.name}}</h5>
                                    </label>
                                </div>
                            </li>
                            {% endfor %}
                            <br>
                            <button type="submit" class="btn btn-primary" style="width: 70%;">Filtra</button>
                        </fieldset>
                    </ul>
                </div>
</form>
</nav>
<input type="hidden" id="search" name="search" value="{{search}}">
<main class="col-md-8 col-lg-8">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2><strong class="text-primary">"{{search}}"</strong></h2>
    </div>
    <div class="row">
        {% if product or provvisori %}
        {% for m in product %}
        {% set c = ROOT_URL ~ m.img %}
        {% set link = redirect ~ m.id %}
        <div class="col-md-3 clearfix d-none d-md-block" style="cursor:pointer;" onclick="location.href = '{{link}}';">
            <div class="card mb-2">
                <img class="card-img-top" src="{{c}}" height="304px" width="304px" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{m.name}}</h4>
                    <p class="card-text">{{m.small_description}}</p>
                    <p class="card-text"><strong>{{m.price}}€</strong></p>
                    <form method="POST" action="{{ROOT_URL}}shop/cart-action.php">
                        <input type="hidden" value="{{REQUEST_URI}}" id="uri" name="uri">
                        <input type="hidden" value="{{search}}" id="s" name="s">
                        <button class="btn btn-primary btn-sm" name="product_id" type="submit" value={{m.id}}><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                            </svg></button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>Nessun prodotto trovato</h5>
        {% endif %}
    </div>
</main>
</form>