<title>Shop</title>

<div class="container" id="main-area" style="margin-top: 70px;">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://hd2.tudocdn.net/1015644?w=980&h=340" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3><strong>Titolo1</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci est, commodo et quam
                            ut, iaculis aliquam dui. Suspendisse condimentum dignissim urna vitae rhoncus. Mauris et
                            augue pellentesque, cursus lorem vel, scelerisque justo. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Donec mollis finibus mi a imperdiet. Suspendisse non mollis
                            lorem. Proin id cursus sapien. Integer in arcu ut ligula vulputate pretium. Aliquam erat
                            volutpat. Integer in purus vitae ligula blandit lacinia. Donec convallis bibendum eleifend.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://hd2.tudocdn.net/1015375?w=980&h=340" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3><strong>Titolo2</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci est, commodo et quam
                            ut, iaculis aliquam dui. Suspendisse condimentum dignissim urna vitae rhoncus. Mauris et
                            augue pellentesque, cursus lorem vel, scelerisque justo. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Donec mollis finibus mi a imperdiet. Suspendisse non mollis
                            lorem. Proin id cursus sapien. Integer in arcu ut ligula vulputate pretium. Aliquam erat
                            volutpat. Integer in purus vitae ligula blandit lacinia. Donec convallis bibendum eleifend.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://hd2.tudocdn.net/1015635?w=980&h=340" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h3><strong>Titolo3</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci est, commodo et quam
                            ut, iaculis aliquam dui. Suspendisse condimentum dignissim urna vitae rhoncus. Mauris et
                            augue pellentesque, cursus lorem vel, scelerisque justo. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Donec mollis finibus mi a imperdiet. Suspendisse non mollis
                            lorem. Proin id cursus sapien. Integer in arcu ut ligula vulputate pretium. Aliquam erat
                            volutpat. Integer in purus vitae ligula blandit lacinia. Donec convallis bibendum eleifend.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <div class="container my-4">
            <!--Carousel Wrapper-->
            <div id="multi-item-top" class="carousel slide carousel-multi-item" data-ride="carousel">
                <!--Controls-->
                <div class="row">
                    <div class="col-md-6 col-lg-10">
                        <span class="text-primary">
                            <h4><strong>Più acquistati:</strong></h4>
                        </span>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="controls-top text-end">
                            <button class="btn btn-primary" type="button" data-bs-target="#multi-item-top"
                                data-bs-slide="prev"> <em class="fa fa-arrow-left"></em>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-target="#multi-item-top"
                                data-bs-slide="next"><em class="fa fa-arrow-right"></em>
                            </button>
                        </div>
                    </div>
                </div>
                <!--/.Controls-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {% for m in most %}
                    <!--First slide-->
                    {% if loop.index == 1 %}
                    <div class="carousel-item active">
                        <div class="row">
                            {% else %}
                            {% if loop.index0 is divisible by(4) %}
                            <div class="carousel-item">
                                <div class="row">
                                    {% endif %}
                                    {% endif %}
                                    {% set c = ROOT_URL ~ m.img %}
                                    <div class="col-md-3 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <img class="card-img-top" src="{{c}}" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">{{m.name}}</h4>
                                                <p class="card-text">{{m.small_description}}</p>
                                                <p class="card-text"><strong>{{m.price}}€</strong></p>
                                                <a class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- if class row-->
                                    {% if ((loop.index0 == 13) or (loop.index is divisible by(4))) %}
                                </div>
                            </div>
                            {% endif %}
                            <!--/.First slide-->



                            {% endfor %}
                        </div>
                        <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->


                </div>
            </div>

            <div class="row">
                <div class="container my-4">
                    <!--Carousel Wrapper-->
                    <div id="multi-item-regali" class="carousel slide carousel-multi-item" data-ride="carousel">
                        <!--Controls-->
                        <div class="row">
                            <div class="col-4">
                                <span class="text-primary">
                                    <h4><strong>Idee regalo:</strong></h4>
                                </span>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-2">
                                <div class="controls-top text-end">
                                    <button class="btn btn-primary" type="button" data-bs-target="#multi-item-regali"
                                        data-bs-slide="prev"> <em class="fa fa-arrow-left"></em>
                                    </button>
                                    <button class="btn btn-primary" type="button" data-bs-target="#multi-item-regali"
                                        data-bs-slide="next"><em class="fa fa-arrow-right"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {{creme.length()}}
                        <!--/.Controls-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            {% for crema in creme %}
                            <!--First slide-->
                            {% if loop.index0 == 0 %}
                            <div class="carousel-item active">
                                <div class="row">
                                    {% endif %}
                                    {% if loop.index is divisible by(5) %}
                                    <div class="carousel-item">
                                        <div class="row">
                                            {% endif %}

                                            {% set c = ROOT_URL ~ crema.img %}
                                            <div class="col-md-3 clearfix d-none d-md-block">
                                                <div class="card mb-2">
                                                    <img class="card-img-top" src="{{c}}" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h4 class="card-title">{{crema.name}}</h4>
                                                        <p class="card-text">{{crema.small_description}}</p>
                                                        <p class="card-text"><strong>{{crema.price}}€</strong></p>
                                                        <a class="btn btn-primary">Button</a>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- if class row-->
                                            {% if ((loop.index0 == cremeNumber) or (loop.index is divisible by(4))) %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!--/.First slide-->



                                    {% endfor %}
                                </div>
                                <!--/.Slides-->

                            </div>
                            <!--/.Carousel Wrapper-->


                        </div>
                    </div>

                    <div class="row">
                        <div class="container my-4">
                            <!--Carousel Wrapper-->
                            <div id="multi-item-cura" class="carousel slide carousel-multi-item" data-ride="carousel">
                                <!--Controls-->
                                <div class="row">
                                    <div class="col-4">
                                        <span class="text-primary">
                                            <h4><strong>Cura della persona:</strong></h4>
                                        </span>
                                    </div>
                                    <div class="col-6"></div>
                                    <div class="col-2">
                                        <div class="controls-top text-end">
                                            <button class="btn btn-primary" type="button"
                                                data-bs-target="#multi-item-cura" data-bs-slide="prev"> <em
                                                    class="fa fa-arrow-left"></em>
                                            </button>
                                            <button class="btn btn-primary" type="button"
                                                data-bs-target="#multi-item-cura" data-bs-slide="next"><em
                                                    class="fa fa-arrow-right"></em>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {{creme.length()}}
                                <!--/.Controls-->
                                <!--Slides-->
                                <div class="carousel-inner" role="listbox">
                                    {% for crema in creme %}
                                    <!--First slide-->
                                    {% if loop.index0 == 0 %}
                                    <div class="carousel-item active">
                                        <div class="row">
                                            {% endif %}
                                            {% if loop.index is divisible by(5) %}
                                            <div class="carousel-item">
                                                <div class="row">
                                                    {% endif %}

                                                    {% set c = ROOT_URL ~ crema.img %}
                                                    <div class="col-md-3 clearfix d-none d-md-block">
                                                        <div class="card mb-2">
                                                            <img class="card-img-top" src="{{c}}" alt="Card image cap">
                                                            <div class="card-body">
                                                                <h4 class="card-title">{{crema.name}}</h4>
                                                                <p class="card-text">{{crema.small_description}}</p>
                                                                <p class="card-text"><strong>{{crema.price}}€</strong>
                                                                </p>
                                                                <a class="btn btn-primary">Button</a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!-- if class row-->
                                                    {% if ((loop.index0 == cremeNumber) or (loop.index is divisible
                                                    by(4))) %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            <!--/.First slide-->



                                            {% endfor %}
                                        </div>
                                        <!--/.Slides-->

                                    </div>
                                    <!--/.Carousel Wrapper-->


                                </div>
                            </div>

                            <div class="row">
                                <div class="container my-4">
                                    <!--Carousel Wrapper-->
                                    <div id="multi-item-lavanda" class="carousel slide carousel-multi-item"
                                        data-ride="carousel">
                                        <!--Controls-->
                                        <div class="row">
                                            <div class="col-4">
                                                <span class="text-primary">
                                                    <h4><strong>Lavanda:</strong></h4>
                                                </span>
                                            </div>
                                            <div class="col-6"></div>
                                            <div class="col-2">
                                                <div class="controls-top text-end">
                                                    <button class="btn btn-primary" type="button"
                                                        data-bs-target="#multi-item-lavanda" data-bs-slide="prev"> <em
                                                            class="fa fa-arrow-left"></em>
                                                    </button>
                                                    <button class="btn btn-primary" type="button"
                                                        data-bs-target="#multi-item-lavanda" data-bs-slide="next"><em
                                                            class="fa fa-arrow-right"></em>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {{creme.length()}}
                                        <!--/.Controls-->
                                        <!--Slides-->
                                        <div class="carousel-inner" role="listbox">
                                            {% for crema in creme %}
                                            <!--First slide-->
                                            {% if loop.index0 == 0 %}
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    {% endif %}
                                                    {% if loop.index is divisible by(5) %}
                                                    <div class="carousel-item">
                                                        <div class="row">
                                                            {% endif %}

                                                            {% set c = ROOT_URL ~ crema.img %}
                                                            <div class="col-md-3 clearfix d-none d-md-block">
                                                                <div class="card mb-2">
                                                                    <img class="card-img-top" src="{{c}}"
                                                                        alt="Card image cap">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">{{crema.name}}</h4>
                                                                        <p class="card-text">{{crema.small_description}}
                                                                        </p>
                                                                        <p class="card-text">
                                                                            <strong>{{crema.price}}€</strong></p>
                                                                        <a class="btn btn-primary">Button</a>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <!-- if class row-->
                                                            {% if ((loop.index0 == cremeNumber) or (loop.index is
                                                            divisible by(4))) %}
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    <!--/.First slide-->



                                                    {% endfor %}
                                                </div>
                                                <!--/.Slides-->

                                            </div>
                                            <!--/.Carousel Wrapper-->


                                        </div>
                                    </div>


                                    <div class="row">
                                        <br>
                                        <br>
                                    </div>