<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <form action="{{ROOT_URL}}admin/pages/article/edit.php" method="POST">
        <input type="text" hidden="hidden" id="id" name="id" value="{{article.id}}" style="visibility: none;"></input>
        <div class="row border-bottom">
            <div class="col-4">
                <h2><strong class="text-primary">Modifica articolo</strong></h2>
            </div>
            <div class="col-4"></div>
            <div class="col-3 text-end">
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 text-end"></div>
                    <div class="col-2 text-end"><input class="btn btn-success" type="submit" value="Salva"></div>
                    <div class="col-3 text-end"><input class="btn btn-primary" type="reset" value="Ripristina"></input>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>

        </div>
        <div class="row">
            <br>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-7">
                <div class="row">
                    <span class="text-primary">
                        <h4><strong>Titolo:</strong></h4>
                    </span>
                </div>
                <div class="row">
                    <input class="form-control" id="title" name="title" type="text" value={{article.title}}></input>
                </div>
                <hr>
                <div class="row">
                    <span class="text-primary">
                        <h4><strong>Testo:</strong></h4>
                    </span>
                </div>
                <div class="row">
                    <textarea class="form-control" id="text" name="text" type="text-area"
                        style="width: 100%; height: 250px; ">{{article.text}}</textarea>
                </div>
                <hr>
            </div>
            <div class="col-md-4 col-lg-4 px-md-4">
                <div class="row">
                    <span class="text-primary">
                        <h4><strong>Foto:</strong></h4>
                    </span>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <input type="hidden" id="img" name="img" value="{{article.img}}">
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-3">
                            <img src={{ROOT_URL}}{{article.img}} alt="immagine" width=100px height=100px
                                class="rounded-circle"></img>
                        </div>
                        <div class="col-9 text-end" style="margin-top: 35px;">
                            {{article.img}}
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </form>
</main>