<title>Profilo</title>

<div class="container" id="main-area" style="margin-top: 25px; ">

    <form method="POST" action="{{ROOT_URL}}user/accountUpdate.php" enctype="multipart/form-data">
        <div class="row">

            <div class="col-7">


                <h4><label class="form-label">Informazioni personali:</label></h4>
                <hr>
                <label class="form-label">Nome</label>
                <input class="form-control" id="name_user" name="name_user" type="text" value={{ user[0]['name'] }}>
                <label class="form-label" for="disabledInput">Cognome</label>
                <input class="form-control" id="surname_user" name="surname_user" type="text" value={{
                    user[0]['surname'] }}>
                <label class="form-label" for="disabledInput">Email</label>
                <input class="form-control" id="email_user" name="email_user" type="text" value={{ user[0]['email'] }}>

                <br><br>
                <h4><label class="form-label">Aggiorna password</label></h4>
                <hr>
                <label class="form-label">Password attuale</label>
                <input class="form-control" id="password" name="password" type="password" value="">
                <label class="form-label" for="disabledInput">Nuova password</label>
                <input class="form-control" id="new_password" name="new_password" type="password" value="********">
                <label class="form-label" for="disabledInput">Conferma password</label>
                <input class="form-control" id="new_password2" name="new_password2" type="password" value="********">


            </div>
            <div class="col-2"></div>
            <div class="col-3" style="margin-top: 15px;">
                <h4><label class="form-label"></label></h4>
                <div class="card border-light" style="width: 100%; border:none;">
                    <img class="rounded-circle" src="{{ ROOT_URL }}{{ user[0]['img']}}" class="card-img-top"
                        alt="..."></img>
                </div>
                <br><br>
                <div class="input-group mb-3">
                        <input type="file" class="form-control" value="scegli immagine" name="image" />
                        <br>
                        <input type="submit" class="input-group-text" value="Upload" for="inputGroupFile02" />
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">

            <div class="col-5"></div>
            <div class="col-1"><input type="submit" class="btn btn-outline-primary" value="Modifica"
                    style="width: 100%;"></input></div>
            <div class="col-1"><input type="reset" class="btn btn-outline-danger" value="Reset"
                    style="width: 100%;"></input></div>
            <div class="col-5"></div>
        </div>
    </form>
</div>